nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px ;
  }
  
  h1{
    background-color: rgb(0, 91, 248);;
    text-align: center;
    color: #fff;
    padding: 10px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }

  nav a:hover{
    color: rgb(0, 145, 248);
    text-decoration: none;
    margin-right: 10px;
  }
  